.card-container {
    display: inline-flex;
    box-shadow: 0px 5px 10px black;
    border-radius: 31px 31px 17px 17px;
    background-color: black;
    margin-bottom: 10px;
}

.flip-card-background, .flip-card-front {
    min-width: 70px;
}

.top, .bottom {
    justify-content: center;
    height: 0.75em;
    line-height: 1;
    padding: .25em;
    text-align: center;
    font-size: 40px;
}

.top {
    background:
        -webkit-radial-gradient(0% 100%, circle, transparent 8%, #2c2c44 8%) no-repeat,
        -webkit-radial-gradient(100% 0%, circle, transparent 0%, #2c2c44 0%) no-repeat,
        -webkit-radial-gradient(0% 0%, circle, transparent 0%, #2c2c44 0%) no-repeat,
        -webkit-radial-gradient(100% 100%, circle, transparent 8%, #2c2c44 8%) no-repeat;
    background:
        radial-gradient(circle at 0% 100%, transparent 8%, #2c2c44 8%) no-repeat, 
        radial-gradient(circle at 100% 0%, transparent 0%, #2c2c44 0%) no-repeat, 
        radial-gradient(circle at 0% 0%, transparent 0%, #2c2c44 0%) no-repeat,
        radial-gradient(circle at 100% 100%, transparent 8%, #2c2c44 8%) no-repeat;
    background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
    background-size: 75% 75%;
    border-radius: 10px 10px 0 0;
    color: #d64f70;
}

.bottom {
    display: flex;
    align-items: flex-end;
    background:
        -webkit-radial-gradient(circle at 0% 100%, transparent 0%, #34364f 0%) no-repeat, 
        -webkit-radial-gradient(circle at 100% 0%, transparent 8%, #34364f 8%) no-repeat, 
        -webkit-radial-gradient(circle at 0% 0%, transparent 8%, #34364f 8%) no-repeat,
        -webkit-radial-gradient(circle at 100% 100%, transparent 0%, #34364f 0%) no-repeat;
    background:
        radial-gradient(circle at 0% 100%, transparent 0%, #34364f 0%) no-repeat, 
        radial-gradient(circle at 100% 0%, transparent 8%, #34364f 8%) no-repeat, 
        radial-gradient(circle at 0% 0%, transparent 8%, #34364f 8%) no-repeat,
        radial-gradient(circle at 100% 100%, transparent 0%, #34364f 0%) no-repeat;
    background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
    background-size: 75% 75%;
    border-radius: 0 0 10px 10px;
    color: #fc5d85;
    overflow: hidden;
}

.flip-card-front{
    position: absolute;
}

.inverted-top{
    overflow: hidden;
    animation-name: flip-top;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
.inverted-bottom{
    overflow: hidden;
    animation-name: flip-bottom;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    transform-origin: top;
}

@keyframes flip-bottom {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.card-title {
    font-size: 7px;
    text-align: center;
    letter-spacing: 2.95937px;
    color: #8385A9;
}

@media screen and (max-width: 300px) {
    .flip-card-background, .flip-card-front {
        min-width: 50px;
    }

    .top, .bottom {
        font-size: 35px;
    }

    .card-title {
        font-size: 6px;
    }
}

@media screen and (min-width: 760px) {
    .flip-card-background, .flip-card-front {
        min-width: 120px;
    }

    .top, .bottom {
        font-size: 69px;
    }

    .card-title {
        font-size: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .card-container {
        box-shadow: 0px 10px 0px black;
        margin-bottom: 19px;
    }

    .flip-card-background, .flip-card-front {
        min-width: 184px;
    }

    .top, .bottom {
        font-size: 98px;
    }

    .card-title {
        font-size: 14px;
        letter-spacing: 5.91875px;
    }
}