.card-container {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px black;
    border-radius: 31px 31px 17px 17px;
    background-color: black;
    margin-bottom: 12px;
}

.flip-card-background, .flip-card-front {
    min-width: 70px;
}

.top, .bottom {
    justify-content: center;
    height: 0.75em;
    line-height: 1;
    padding: .25em;
    text-align: center;
    font-size: 40px;
}

.top {
    position: relative;
    background:
      radial-gradient(circle 0px at top left,#0000 98%,#2c2c44) top left,
      radial-gradient(circle 0px at top right ,#0000 98%,#2c2c44) top right,
      radial-gradient(circle 5px at bottom left ,#0000 98%,#2c2c44) bottom left,
      radial-gradient(circle 5px at bottom right,#0000 98%,#2c2c44) bottom right;
    background-size:51% 51%;
    background-repeat:no-repeat;
    border-radius: 10px 10px 0 0;
    color: #d64f70;
}

.bottom {
    display: flex;
    align-items: flex-end;
    background:
      radial-gradient(circle 0px at bottom left,#0000 98%,#34364f) bottom left,
      radial-gradient(circle 0px at bottom right ,#0000 98%,#34364f) bottom right,
      radial-gradient(circle 5px at top left ,#0000 98%,#34364f) top left,
      radial-gradient(circle 5px at top right,#0000 98%,#34364f) top right;
    background-size:51% 51%;
    background-repeat:no-repeat;
    border-radius: 0 0 10px 10px;
    color: #fc5d85;
    overflow: hidden;
}

.top-background {
    overflow: hidden;
}

.flip-card-front{
    position: absolute;
}

.inverted-top{
    overflow: hidden;
    animation-name: flip-top;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
.inverted-bottom{
    overflow: hidden;
    animation-name: flip-bottom;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    transform-origin: top;
}

@keyframes flip-bottom {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.card-title {
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    letter-spacing: 2.95937px;
    color: #8385A9;
}

@media screen and (max-width: 300px) {
    .flip-card-background, .flip-card-front {
        min-width: 50px;
    }

    .top, .bottom {
        font-size: 35px;
    }

    .card-title {
        font-size: 6px;
    }
}

@media screen and (min-width: 760px) {
    .flip-card-background, .flip-card-front {
        min-width: 120px;
    }

    .top, .bottom {
        font-size: 69px;
    }

    .card-title {
        font-size: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .card-container {
        margin-bottom: 15px;
        box-shadow: 0px 10px 0px black;
        background-color: black;
        border-radius: 20px;
        margin-bottom: 39px;
    }

    .flip-card-background, .flip-card-front {
        min-width: 184px;
    }

    .top, .bottom {
        height: 0.75em;
        line-height: 1;
        padding: .25em;
        font-size: 98px;
    }

    .top {
        background:
          radial-gradient(circle 0px at top left,#0000 98%,#2c2c44) top left,
          radial-gradient(circle 0px at top right ,#0000 98%,#2c2c44) top right,
          radial-gradient(circle 10px at bottom left ,#0000 98%,#2c2c44) bottom left,
          radial-gradient(circle 10px at bottom right,#0000 98%,#2c2c44) bottom right;
        background-size:51% 51%;
        background-repeat:no-repeat;
    }
    
    .bottom {
        background:
          radial-gradient(circle 0px at bottom left,#0000 98%,#34364f) bottom left,
          radial-gradient(circle 0px at bottom right ,#0000 98%,#34364f) bottom right,
          radial-gradient(circle 10px at top left ,#0000 98%,#34364f) top left,
          radial-gradient(circle 10px at top right,#0000 98%,#34364f) top right;
        background-size:51% 51%;
        background-repeat:no-repeat;
    }

    .card-title {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 5.91875px;
    }
}