.title{
  font-size: 18px;
  text-align: center;
  letter-spacing: 6.13636px;
  text-transform: uppercase;
  padding: 124px 24px 54px 24px;
  color: hsl(0, 0%, 100%);  
}

@media screen and (max-width: 300px) {
  .title {
      font-size: 15px;
    }
}

@media screen and (min-width: 700px) {
  .title {
      font-size: 25px;
    }
}

@media screen and (min-width: 1000px) {
  .title{
      font-size: 29px;
  }
}
  