*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
  }
  
  body, html {
    height: 100%;
  }

  #root {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background: url('bg-stars.svg'), linear-gradient(hsl(234, 17%, 12%), 10%, #241e2c, 63%, #30243a);
  }
